<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tech blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header>
      <nav class="display-flex justify-space-between align-left p-2" > 
         <div >
            <a href="/" class='mx-2 px-6 nav-a'> Home </a>
            <a href="/dashboard" class='mx-2 px-6 nav-a' >Dashboard</a>
            <!-- Conditionally render login or logout links -->
            {{#if logged_in}}
              <button class="no-button" id="logout" class='mx-2 px-6 nav-a'>Logout</button>
            {{else}}
              <a href="/login" class='mx-2 px-6 nav-a' >Login</a>
            {{/if}}
        </div>
      </nav>
      <div class = 'align-left'>
        <h1> The Tech Blog </h1>
    </div>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
