<div class="row cols-12 col-md-12 col-lg-12 col-xl-12">
  <div class="cols-12 col-md-12 col-lg-12 col-xl-12">
    <h2>Post Blog</h2>

    <form class="form blog-post">
      <div class="form-group">
        <label for="blog-title"> Title </label>
        <input class="form-input" type="text" id="blog-title-keyed" />
      </div>
      <div class="form-group">
        <label for="blog-details"> Description </label>
        <textarea class="form-input form-desc" type="text" id="blog-details-keyed"></textarea>
        <p> <span></span></p>
      </div>
      <div class="form-group button-group">
        <button class="btn pst-btn" type="submit"> POST </button>
      </div>
    </form>
  </div>

</div>

<script src="/js/blogform.js"></script>