<div class="row">
  <div class="cols-12 col-md-6">
    <h2>Post Blog</h2>

    <form class="form blog-post">
      <div class="form-group">
        <label for="blog-title"> Title </label>
        <input class="form-input" type="text" id="blog-title-keyed" value= {{blog.title}} />
      </div>
      <div class="form-group">
        <label for="blog-details"> Description </label>
        <input class="form-input" type="text" id="blog-details-keyed" value= {{blog.description}} />
      </div>
      <div class="form-group">
        <button class="btn btn-primary blog-update" type="submit"> Update </button>
        <button class="btn btn-primary blog-delete" type="submit"> Delete </button>
      </div>
    </form>
  </div>

</div>

<script src="/js/blogedit.js"></script>