<!-- Loop over each object in the projects array -->
{{#each blogs as |blog| }}
<div class="blog-card ">
  <a class="blog-card-anchor" href="/blog/{{blog.id}}">
    <div class="blog-card-header">
      {{blog.title}}
    </div>
    <div class="card-body">
      <p>
        {{blog.description}}
      </p>
    </div>
  </a>
</div>
{{/each}}
